@charset "UTF-8";

@media screen and (min-width:768px) and (max-width: 992px){ 
  #title{
    font-size: 20px;
    top: 30%;
  }
  #pontos{
    font-size: 20px;
  }
  #imagem{
    width: 500px;
  }
  .container{
    margin: 30px;
    gap: 20px;
    
  }
  .card{
    padding: 15px;
  }
  
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    #title{
    font-size: 30px;
    top: 35%;
  }
  #pontos{
    font-size: 25px;
  }

  #imagem{
    width: 700px;
  }
  .container{
    margin: 25px;
    gap: 20px;
  }
  .card{
    padding: 15px;
  }
  
}

@media screen and (min-width:1200px) {
  #title {
    font-size: 35px;
    top: 60%;
  }
  .container{
    margin: 20px 40px;
    gap: 20px;
  }
  .card{
    padding: 15px;
  }
  h6 {
    font-size: 15px;
  }
  .btn{
    font-size: 15px;
  }

  #pontos{
    font-size: 35px;
  }
  #imagem{
    width: 900px;
  }
}